@import url(http://fonts.googleapis.com/css?family=Raleway:100);

/* Body */
body {
	background: #ffb3a7;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 1.1em;
	margin: 5% 0;
}
.container{
  bottom: 0;
  height: 444px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top:0;
}

/* Colors */
i {
	color: #fff;
	transition: color 0.5s ease;
}
.fa-female:hover {
	color: #ee6e73;
}
.fa-linkedin:hover {
	color: #008cc9;
}
.fa-github:hover {
	color: #333;
}
.fa-pencil:hover {
	color: #ffa945;
}
.fa-twitter:hover {
	color: #55acee;
}
.fa-envelope:hover {
	color: #dc3023;
}
.fa-skype:hover {
	color: #00AFF0;
}
